.emp {
    margin: 2rem;
}

.edit-emp {
    margin: 2rem;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-emp form {
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.edit-emp form input {
    margin: 1.2rem;
}