.contact {
    margin: 2rem 2rem;
}

.contact h1 {
    margin: 1rem 0;
    border-bottom: 1px solid #FF0000;
    width: 50%;
}

.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form form {
    flex: 1;
    margin-right: 1rem;
}

.contact-form img {
    flex: 1;
    width: 50%;
    height: 60%;
}

.input-field {
    margin: 1.3rem 0;
    border-radius: 40px;
}
.input-field input, .input-field textarea {
    border-radius: 8px;
}

.btn {
    border-radius: 8px;
}